# Python
__pycache__/
*.pyc
.env
venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Misc
.DS_Store
*.zip

# Test response files
infra/response.json
infra/api-response.json

# Local state files (state is now stored in S3)
*.tfstate
*.tfstate.backup
.terraform/